.card {
    width: 344px;
    height: 335px;
    margin-left: auto;
    margin-right: auto;
    transition: box-shadow;
    border-radius: 5px;
}

.card:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .3);
}

.avatar {
    float: left border-radius: 50%;
    margin: 0 1rem;
    clip-path: circle();
}

.title {
    display: inline;
    color: #000;
    font-size: 22px;
    padding: 10px;
    margin: 0rem;

}

.secondary-text {
    color: #232f34;
    display: inline;
    padding: 10px;
}

.body-text {
    color: #232f34;
    font-size: 11px;
    max-width: 300px;
    padding: 1px;
}

.profile {
    padding: 10px;
    justify-content: center;

}

.top {
    display: flex;
    align-items: flex-end;
}

.outer {
    width: 200px;
    margin: 0 auto;
}

.inner {
    margin-left: 12px;
}